<div class="app-main">
  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-ranger">Ranger Shuttlers</h1>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #snav >
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/home']">Home</a>
        <a mat-list-item [routerLink]="['/share']">Court Share</a>
        <a mat-list-item [routerLink]="['/people']">Add People</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="container">
          <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>